<mat-tab-group>
  <mat-tab label="Body">
    <app-location-body></app-location-body>
  </mat-tab>
  <mat-tab label="RWBody">
    <app-location-rwbody></app-location-rwbody>
  </mat-tab>
  <mat-tab label="Car">
    <app-location-car></app-location-car>
  </mat-tab>
  <mat-tab label="House">
    <app-location-house></app-location-house>
  </mat-tab>
  <mat-tab label="1000">
    <app-location-images1000></app-location-images1000>
  </mat-tab>
  <mat-tab label="Cards">
    <app-location-cards></app-location-cards>
  </mat-tab>
  <mat-tab label="Sun List">
    <app-location-sunList></app-location-sunList>
  </mat-tab>
  <mat-tab label="RW 20 List">
    <app-location-rw20list></app-location-rw20list>
  </mat-tab>
  <mat-tab label="Presidents">
    <app-location-presidents></app-location-presidents>
  </mat-tab>
    <mat-tab label="FourSeasonRoom">
    <app-fourseasonroom20></app-fourseasonroom20>
  </mat-tab>
      <mat-tab label="FamilyRoom">
    <app-familyroom25></app-familyroom25>
  </mat-tab>
</mat-tab-group>
